[submodule "elisp/swank-clojure"]
	path = elisp/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "elisp/rinari"]
	path = elisp/rinari
	url = git://github.com/eschulte/rinari.git
